@import 'tailwindcss';

@theme {
  --font-sans: 'Inter', system-ui, sans-serif;
  --font-mono: 'JetBrains Mono', ui-monospace, monospace;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  @apply font-sans antialiased text-zinc-900 bg-zinc-50;
}

code,
pre {
  font-family: var(--font-mono);
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

